* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: pixel, sans-serif;
	letter-spacing: 2px;
	font-size: 16px;
	color: white;
	background: #000;
	overflow: hidden;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-container {
	position: relative;
	display: inline-block;
	max-width: 710px;
	width: 100%;
	margin: 0 auto;
}

.flappy-bg {
	display: block;
	width: 100%;
	height: auto;
	max-width: 710px;
	/* aspect-ratio: 365 / 510; */
}

.game {
	position: absolute;
	inset: 0;
	z-index: 1;
}

.game h1 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: min(7vw, 2.5rem);
}

.hidden{
	display: none !important;
}