.game-action {
	position: relative;
	height: calc(100% - 13%);
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 5px solid #1a1a1a;
}

.bird {
	position: absolute;
	bottom: 45%;
	right: 60%;
	width: min(11vmin, 90px);
	/* width: 9vmin; */
	transition: bottom 0.1s linear;
	z-index: 4;
	/* outline: 1px solid red; */
}

.pipe {
	position: absolute;
	width: min(20vmin, 160px);
	/* width: 20vmin; */
	height: 30%;
	border-left: .7vmin solid #1a1a1a;
	border-right: .7vmin solid #1a1a1a;
	background: linear-gradient(to right, #00a72a 0%, #00a72a 15%, #59f780 15%, #59f780 20%, #00a72a 20%, #00a72a 25%, #00ff55 25%, #00ff55 65%, #59f780 65%, #59f780 70%, #00ff55 70%, #00ff55 75%, #59f780 75%, #59f780 90%, #9fff51 90%, #9fff51 95%, #59f780 95%, #59f780 100%);
}

.pipe-top {
	background: linear-gradient(to left, #00a72a 0%, #00a72a 15%, #59f780 15%, #59f780 20%, #00a72a 20%, #00a72a 25%, #00ff55 25%, #00ff55 65%, #59f780 65%, #59f780 70%, #00ff55 70%, #00ff55 75%, #59f780 75%, #59f780 90%, #9fff51 90%, #9fff51 95%, #59f780 95%, #59f780 100%);
	top: 0;
	right: 40px;
	transform: rotate(180deg);
}

.pipe-bottom {
	bottom: 0;
	right: 40px;
}

.pipe::before {
	content: '';
	position: absolute;
	left: -10%;
	top: 0;
	width: 120%;
	height: 35%;
	background: linear-gradient(to right, #00a72a 0%, #00a72a 15%, #59f780 15%, #59f780 20%, #00a72a 20%, #00a72a 25%, #00ff55 25%, #00ff55 65%, #59f780 65%, #59f780 70%, #00ff55 70%, #00ff55 75%, #59f780 75%, #59f780 90%, #9fff51 90%, #9fff51 95%, #59f780 95%, #59f780 100%);
	box-shadow: inset 5px -4px 0 5px #00a72a;
	border: .7vmin solid #1a1a1a;
	/* border-width: 1vmin; */
}

.pipe-top::before {
	background: linear-gradient(to left, #00a72a 0%, #00a72a 15%, #59f780 15%, #59f780 20%, #00a72a 20%, #00a72a 25%, #00ff55 25%, #00ff55 65%, #59f780 65%, #59f780 70%, #00ff55 70%, #00ff55 75%, #59f780 75%, #59f780 90%, #9fff51 90%, #9fff51 95%, #59f780 95%, #59f780 100%);
	box-shadow: inset -5px -4px 0 5px #00a72a;
}

.fall {
	animation: rotate 1s linear forwards;
}

@keyframes rotate {
	0% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(60deg);
	}
}
