.game-action {
	position: relative;
	height: calc(100% - 13%);
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 5px solid #1a1a1a;
}

.bird {
	position: absolute;
	/* bottom: 500px; */
	bottom: 50%;
	right: min(63vw, 450px);
	width: 11vw;
	max-width: 80px;
	transition: bottom 0.1s linear;
	z-index: 4;
	/* outline: 1px solid red; */
}

.pipe {
	position: absolute;
	width: 19vw;
	max-width: 128px;
	height: 200px;
	background: linear-gradient(
		to right,
		#2ecc40 0%,
		#27ae60 25%,
		#1e8449 75%,
		#145a32 100%
	);
	border: 5px solid #1a1a1a;
	border-bottom: none;
	border-top: none;
}

.pipe::before {
	content: '';
	position: absolute;
	left: max(-18%, -15px);
	top: 0;
	width: min(120%, 140px);
	height: 50px;
	background: linear-gradient(
		to right,
		#2ecc40 0%,
		#27ae60 25%,
		#1e8449 75%,
		#145a32 100%
	);
	border: 5px solid #1a1a1a;
	/* border-radius: 3px 3px 0 0; */
}

.pipe-top {
	top: 0;
	right: 40px;
	transform: rotate(180deg);
}

.pipe-bottom {
	bottom: 0;
	right: 40px;
}

.fall {
	animation: rotate 1s linear forwards;
}

@keyframes rotate {
	0% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(60deg);
	}
}
