.start-page {
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	place-items: center;
	align-items: end;
	height: 100%;
}

.logo {
	place-self: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: shake 1s linear infinite;
}

.flappy-logo {
	width: min(45vmin, 300px);
	/* width: 35vmin; */
}

.flappy-bird {
	position: absolute;
	bottom: clamp(-20px, -3vmin, -4px);
	right: clamp(-80px, -10vmin, -5px);
	width: min(13vmin, 90px);
	/* width: 8vmin; */
}

.start-button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.start-button img {
	width: min(25vmin, 150px);
	/* width: 15vmin; */
	transition: scale 0.1s ease-in-out;
}

.start-button:active img {
	transform: translateY(2px);
}

@keyframes shake {
	50% {
		transform: translateY(15px);
	}
}
